@import 'top-bar';
@import 'header';
@import 'main-screen';
@import 'categories';
@import 'products';
@import 'banner';
@import 'bottom_banner';


body {
  margin: 0;
  box-sizing: border-box;
  * {
    font-family: 'Zen Maru Gothic', sans-serif;
    box-sizing: border-box;
  }
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 500;
  background-color: dodgerblue;
  border-radius: 32px;
  padding: 10px 24px;

  &:hover {
    background-color: blue;
  }
}


.btn_secondary {
  background-color: black;

  &:hover {
    background-color: #696969;
  }
}

.m-1 {
  margin: 8px;
}

.mx-1 {
  margin: 0 8px;
}

.my-1 {
  margin: 8px 0;
}

.title {
  font-size: 40px;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

.flex-v-center {
  display: flex;
  align-items: center;
}