.categories_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

  .title {
    margin-bottom: 60px;
  }

  .categories_wrapper {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    flex-wrap: wrap;
  }

  .category {
    flex: 30%;
    padding: 0 20px;

    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}