.main {
  background-color: #C8EBFF;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 50%;
  }

  &-text {
    width: 50%;

    &_highlighted {
      font-family: 'Smooch', cursive;
      color: blue;
      font-size: 40px;
      margin-bottom: 20px;
    }

    &_title {
      font-size: 60px;
      font-family: 'Libre Baskerville', serif;
      margin: 0;
    }

    &_subtitle {
      font-size: 20px;
      font-family: 'Libre Baskerville', serif;
      font-style: italic;
      color: dimgrey;
    }
  }
}