body {
    margin: 0;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
}



p {
    margin: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.top {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
}

.footer {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.flex-cols {
    height: 90%;
    display: flex;
}

.flex-cols > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    background-color: lightgreen;
    height: 95vh;
    margin-top: -5vh;
}

.center {
    background-color: lightyellow;
}

.right {
    background-color: plum;
    height: 95vh;
    margin-bottom: -5vh;
}