body {
    margin: 0;
    box-sizing: border-box;
}

body * {
    box-sizing: border-box;
    text-align: center;
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.top {
    height: 5%;
    background-color: deepskyblue;
    position: relative;
}

.footer {
    height: 5%;
    background-color: orange;
    position: relative;
}

.float-cols {
    height: 90%;
}

.float-cols > * {
    float: left;
    width: 33.3%;
    position: relative;
}

.left {
    background-color: lightgreen;
    height: 95vh;
    margin-top: -5vh;
    float: left;
    width: 33.3%;
}

.center {
    background-color: lightyellow;
    height: 100%;
}

.right {
    background-color: plum;
    height: 95vh;
    margin-bottom: -5vh;
}